.header {
  background-color: beige;
  font-family:'Times New Roman', 'Arial Narrow', Arial, sans-serif
}
.contact {
  background-color: papayawhip;
  font-family:'Times New Roman', 'Arial Narrow', Arial, sans-serif
}
.summary {
  background-color: antiquewhite;
}
.kq {
  background-color: blanchedalmond;
}

.ed {
  background-color: antiquewhite
  ;
}

.exp {
  background-color: antiquewhite;
}

.ec {
  background-color: antiquewhite;
}